<div class="example-post">
    <div style="display: flex; align-items: center;">
        <img class="img-fluid d-block mb-2 mr-2" style="height: 100%; border-radius: 50%; width: 50px; height: 50px;" [src]="base64" alt="profile-picture">
        <!-- <mat-icon style="margin-right: 5px">computer</mat-icon> -->
        <div style="font-weight: 500;"> {{ post.fullName }} </div>
        <button mat-icon-button style="margin-left: auto;" (click)="delete()">
            <mat-icon style="color:brown; font-size: 16px;">delete</mat-icon>
        </button>
        <button mat-icon-button (click)="edit()">
            <mat-icon style="color:green; font-size: 16px;"> {{ editMode === false ? 'edit' : 'cancel' }} </mat-icon>
        </button>
    </div>
    <div>
        <p *ngIf="!editMode" [innerHTML]="post.body | newline"></p>
        <div *ngIf="editMode" style="display: flex;">
            <textarea mat-input class="example-form" [(ngModel)]="editedPost" name="editedPost"></textarea>
            <button mat-flat-button style="margin-left: 10px;" (click)="saveEdited()">Save</button>
        </div>
        <em>{{ post.dateCreated | date:'medium' }}</em>
        <div style="padding-left: 20px;" *ngIf="post.comments !== null">
            <p>Comments</p>

            <dynamic-form *ngIf="!renderingComment" [questions]="questions" [buttonName]="'Send'" (result)=received($event)></dynamic-form>

            <div *ngFor="let c of post.comments">
                <comment [comment]="c" (deleteEvent)="commentDeleted($event)"></comment>
            </div>
        </div>
    </div>
</div>