<div class="example-post">
    <div style="display: flex; align-items: center;">
        <img class="img-fluid d-block mr-2 mb-2" style="height: 100%; border-radius: 50%; width: 40px; height: 40px;" [src]="base64" alt="profile-picture">
        <!-- <mat-icon style="margin-right: 5px">computer</mat-icon> -->
        <div style="font-weight: 500;"> {{ postSummary.fullName }} </div>
        <i class="link" routerLink="/newsfeed/post/{{postSummary.id}}" style="margin-left: auto;">View Post</i>
    </div>
    <div>
        <p> {{ postSummary.body }} </p>

        <mat-icon style="color: cornflowerblue; font-size: 24px">comment</mat-icon>
        <i> {{ postSummary.commentsCount }} Comments.. </i>

        <mat-icon style="color: blue; font-size: 20px;">reply</mat-icon>
        <i> {{ postSummary.repliesCount }} Replies.. </i>

        <br> <em>{{ postSummary.dateCreated | date:'medium' }}</em>
    </div>
</div>