<hr>

<div class="row" style="display: flex; align-items: center;">
    <div class="col-4">
        <img class="img-fluid img-thumbnail d-block" style="height: 100%; border-radius: 50%; width: 150px; height: 150px;" [src]="base64" alt="profile-picture">
        <!-- <mat-icon *ngIf="!base64" style="color: #999999; font-size: 160px;">person</mat-icon> -->
        <button (click)="editProfilePictureClicked()" style="transform: translate(70px, -35px)" color="primary" mat-mini-fab>
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div class="col-8">
        <h2 style="font-size: 200%; font-weight: 400; color: #424242; font-style: italic;"> {{ viewUser.firstName }} {{ " " }} {{ viewUser.lastName }} </h2>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-12">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="About">
                User info lalala....................
            </mat-tab>
            <mat-tab label="Photos">
                No photos available currently
            </mat-tab>
            <mat-tab label="Posts">
                <div class="mt-5">
                    <timeline-posts></timeline-posts>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>    
</div>