<div style="display: flex; align-items: center;">
    <img class="img-fluid d-block pr-2 pb-2" style="height: 100%; border-radius: 50%; width: 50px; height: 50px;" [src]="base64" alt="profile-picture">
    <div style="font-weight: 500;"> {{ comment.fullName }} </div>
    <button mat-icon-button style="margin-left: auto;" (click)="delete()">
        <mat-icon style="color:brown; font-size: 16px;">delete</mat-icon>
    </button>
    <button mat-icon-button (click)="edit()">
        <mat-icon style="color:green; font-size: 16px;">{{ editMode === false ? 'edit' : 'cancel' }}</mat-icon>
    </button>
</div>
<p *ngIf="!editMode" [innerHTML]="comment.body | newline"></p>
<div *ngIf="editMode" style="display: flex;">
    <input mat-input class="example-form" [(ngModel)]="editedComment" name="editedComment" />
    <button mat-flat-button style="margin-left: 10px;" (click)="saveEdited()">Save</button>
</div>
<em> {{ comment.dateCreated | date:'medium' }} </em>

<div style="padding-left: 30px;">
    <p>Replies</p>
    <dynamic-form *ngIf="!renderingReply" [questions]="questions" [buttonName]="'Send'" (result)="received($event)"></dynamic-form>
    <div *ngFor="let r of comment.replies">
        <reply [reply]="r" (deleteEvent)="replyDeleted($event)"></reply>
    </div>
</div>