/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* to push object at the right */
.shift-to-right { margin-right: auto; } 
.push-right { margin-left: auto; }

/* global container */
.newsfeed-container {
  min-width: 150px;
  max-width: 700px;
  width: 100%;
}

/* css for angular material form */
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.example-full-width {
    width: 100%;
}

.user-form {
  max-width: 385px;
}

.example-post {
    min-width: 150px;
    max-width: 700px;  
    padding: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: khaki;
    font-size: 12px;
}

em {
  color: #717171;
  font-size: xx-small;
}

button.active {
  background-color: burlywood;
  font-weight: 500;
  font-size: 110%;
  color: cadetblue;
  text-shadow: 0.5px 0.5px white;
}

.link {
  color: blue;
  cursor: pointer;
  font-weight: 400;
}
.link:hover {
  color: white;
  text-decoration: underline;
  font-weight: 500;
  transform: translate(-1px, -1px);
}
